* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #f5f4f5;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #cardDiv{
    border: 1px solid black;
    width: max-content;
 
    margin-top:10px ;  

  }

  .buttonDiv{
    position: absolute;
    left: 30px;
    top: 125px;
    right: 30px;
    height: 75px;
    /* width: max-content;
    height: max-content; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px
  }
  
  #createPost{
    /* background: linear-gradient(to bottom right, #28c5d8, #f17b8f, #d6e175); */
    margin: 5px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 1.2em 2.4em;
    font-size: 1em;
    transition: box-shadow 0.3s ease;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
  }
  #createPost:hover{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); 
  }

  .container{
    padding: 50px;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #28c5d8, #f17b8f, #d6e175);
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    transition: box-shadow 0.4s ease;
    border-radius: 20px;
  }

  .container-signin{
    padding: 50px;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #28c5d8, #f17b8f, #d6e175);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    transition: box-shadow 0.4s ease;
    border-radius: 20px;
  }

  .container:hover{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  }
  
  #logo{
    width: 400px;
    padding-left: 10px;
  }
  .logoContainer{
    /* position: absolute; */
    top: 0;
    border: 2px solid black;
    z-index:1;
    height: fit-content;
    width: fit-content;

  }
  body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #28c5d8, #f17b8f, #d6e175);
    background-attachment: fixed;
    overflow-x: hidden;
    z-index: -1;
  }


  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  
  .page {
    background-image: url("./assets/12_asasasa.jpg");
    background-size: 110%;
    background-repeat: no-repeat;           
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0%;
    justify-content: center;
    place-items: center;
    min-width: 320px;
    overflow-y: hidden;
    min-height: 100vh;
  }
  
  #heading {
    padding-top: 30px;
  }
  
  #topbarEx {
    position: absolute;
    left: 30px;
    top: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); 
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f4f5;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px; /* Adjust padding as needed */
    z-index: 1; /* Ensure the topbar appears above other content */
  }

  #topbarIn {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 600px; /* Optional: limit the maximum width of the content */
    text-align: center;
  }
  

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
    
  }
  
  #main{
    z-index: 1  ;
  }

  button {
    margin: 5px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }

  #bigDiv{
    position: absolute;
    top: 230px;
    left:30px;
    right: 30px;
    bottom: 30px;
    /* display: flex;
    justify-content: center; */
    border: 1px solid black;
    border-radius: 10px;
    z-index: 1;
  }

  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  svg{
    margin-left: 15px;
    padding: 0px;
  }
  
  svg:hover{
    cursor: pointer;
  }

  input {
    /* Your CSS properties here */
    background-color: transparent;
    color: white;
    border: 2px solid #ccc;
    padding: 2px 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 17px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 225px;
  }
  input::placeholder{
    color: #ffffff  ;
  } 

  #section{
    width: 107.5px;
    border: 2px solid #ccc;
  }
  #year{
    width: 107.5px;
    border: 2px solid #ccc;
  }
  #rollNo{
    width: 107.5px; 
    border: 2px solid #ccc;
  }
  #branch{
    width: 107.5px;
    border: 2px solid #ccc;
  }
  #input{
    padding: 10px;
    margin-bottom: 10px;
  }
  #search{
    border: 1px solid black;
    background-color: #f5f4f5;
    color: black;
  }
  #search::placeholder{
    color: black;
  }
  
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  } 
