:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #f5f4f5;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .buttonDiv{
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .container{
    padding: 50px;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #28c5d8, #f17b8f, #d6e175);
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    transition: box-shadow 0.4s ease;
    border-radius: 20px;
  }

  .container:hover{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  }
  
  #logo{
    width: 400px;
    padding-left: 10px;
  }
  .logoContainer{
    /* position: absolute; */
    top: 0;
    border: 2px solid black;
    z-index:1;
    height: fit-content;
    width: fit-content;

  }
  /* body{
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  } */


  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  
  .page {
    background-image: url("./assets/12_asasasa.jpg");
    background-size: 110%;
    background-repeat: no-repeat;           
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0%;
    justify-content: center;
    place-items: center;
    min-width: 320px;
    overflow-y: hidden;
    min-height: 100vh;
  }
  
  #heading {
    padding-top: 30px;
  }
  
  .topbar{
    background-color: #1a1a1a;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    height: 50px;
    justify-content: space-between;
    border-radius: 10px;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
    
  }
  
  button {
    margin: 5px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  svg{
    margin-left: 15px;
    padding: 0px;
  }
  
  svg:hover{
    cursor: pointer;
  }

  input {
    /* Your CSS properties here */
    background-color: transparent;
    color: white;
    border: 2px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 17px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 225px;
  }
  input::placeholder{
    color: #ffffff  ;
  } 

  #section{
    width: 60px;
    border: 2px solid #ccc;
  }
  #year{
    width: 135px;
    border: 2px solid #ccc;
  }
  #rollNo{
    width: 65px ;
    border: 2px solid #ccc;
  }
  #branch{
    width: 130px;
    border: 2px solid #ccc;
  }
  #input{
    padding: 10px;
    margin-bottom: 10px;
  }
  #search{
    border: 1px solid #ccc;
  }
  
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  } 
